<div class="modal-dialog modal-lg" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">新增习题</h4>
        </div>
        <small class="font-bold">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form id="add-question-form" method="post" class="form-horizontal" th:action="@{/admin/question/add}">
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">题目类型<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <select id="question-type-select" class="form-control" name="type">
                                                <option th:each="questionType:${questionTypes}" th:value="${questionType.name}" th:text="${questionType.displayName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">试题分数<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" value="5" class="form-control" name="score" readonly/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">试题内容<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <textarea type="text" class="form-control" name="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div id="choice-detail" class="form-group" style="display: none;">
                                        <label class="col-sm-2 control-label">选项A：<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="choiceA"/>
                                        </div>
                                        <label class="col-sm-2 control-label">选项B：<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="choiceB"/>
                                        </div>
                                        <label class="col-sm-2 control-label">选项C：<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="choiceC"/>
                                        </div>
                                        <label class="col-sm-2 control-label">选项D：<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="choiceD"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group" id="answer-normal">
                                        <label class="col-sm-2 control-label">试题答案<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="answer"/>
                                        </div>
                                    </div>
                                    <div class="form-group" id="answer-for-choice" style="display:none;">
                                        <label class="col-sm-2 control-label">试题答案<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <select disabled class="form-control m-b" name="answer">
                                                <option value="">请选择</option>
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="C">C</option>
                                                <option value="D">D</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">确定新增</button>
                                            <button class="btn btn-white" type="button" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </div>
</div>
<script>
    $(function () {

        $("#question-type-select").change(function () {
            if ($("#question-type-select").val() === "CHOICE") {
                $("#choice-detail").show();
                $("#answer-for-choice").show();
                $("#answer-for-choice").find("select").removeAttrs("disabled");

                $("#answer-normal").hide();
                $("#answer-normal").find("input").attr("disabled",true);

            } else {
                $("#choice-detail").hide();
                $("#answer-for-choice").hide();
                $("#answer-for-choice").find("select").attr("disabled",true);

                $("#answer-normal").show();
                $("#answer-normal").find("input").removeAttrs("disabled");
            }
            if($("#question-type-select").val() === "ASK"||$("#question-type-select").val() === "ESSAY"){
                $("#answer-normal").find("input").attr("disabled",true);
            }
        });

        //表单验证
        $("#add-chapter-form").validate({
            rules:{
                subject:"required",
                title:"required",
                content:"required",
                studyPlan:"required"
            },messages:{
                subject:"请输入所属学科",
                title:"请输入章节标题",
                content:"请输入章节内容",
                studyPlan: "请输入学习计划"
            },
            onfocusout:false
        });
    });
</script>