<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>创建班级考试</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" th:action="@{/admin/exam/init}">
                        <input type="hidden" value="NORMAL" name="examType"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">管理班级：</label>
                            <div class="col-sm-10">
                                一班
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">试卷生成方式：</label>
                            <div class="col-sm-10">
                                <label class="checkbox-inline i-checks">
                                    <input id="all-radio" name="chooseWay" type="radio" value="ALL" checked>全章节随机</label>
                                <label class="checkbox-inline i-checks">
                                    <input id="assign-radio" name="chooseWay" type="radio" value="ASSIGN">指定章节</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" id="chapter-select" style="display: none">
                            <label class="col-sm-2 control-label">
                                选择章节：
                            </label>
                            <div class="col-sm-10" style="padding-top: 10px;">
                                <div class="i-checks" th:each="chapter:${chapterList}">
                                    <label>
                                        <input name="chapterIds" type="checkbox" th:value="${chapter.id}"> <i></i> <span th:text="${chapter.subjectTitle}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">生成试卷</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>