<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longder.edusys.repository.ChapterRepository">
    <resultMap id="ChapterResultMap" type="com.longder.edusys.entity.po.Chapter">
        <id column="id_" property="id"/>
        <result column="subject_" property="subject"/>
        <result column="name_" property="name"/>
        <result column="title_" property="title"/>
        <result column="content_" property="content"/>
        <result column="study_plan_" property="studyPlan"/>
    </resultMap>
</mapper>