<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>自我测验初始化</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">自测方式：</label>
                            <div class="col-sm-10">
                                <label class="checkbox-inline i-checks">
                                    <input id="all-radio" name="exam-type" type="radio" value="ALL" checked>全章节随机</label>
                                <label class="checkbox-inline i-checks">
                                    <input id="assign-radio" name="exam-type" type="radio" value="ASSIGN">指定章节</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" id="chapter-select" style="display: none">
                            <label class="col-sm-2 control-label">
                                选择章节：
                            </label>
                            <div class="col-sm-10" style="padding-top: 10px;">
                                <div class="i-checks">
                                    <label>
                                        <input type="checkbox" value=""> <i></i> 高等数学-章节一
                                    </label>
                                </div>
                                <div class="i-checks">
                                    <label>
                                        <input type="checkbox" value=""> <i></i> 高等数学-章节二
                                    </label>
                                </div>
                                <div class="i-checks">
                                    <label>
                                        <input type="checkbox" value=""> <i></i> 高等数学-章节三
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">开始自测</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
<script>
    $(function(){
        //iCHeck使能
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        //选择所有章节
        $("#all-radio").on("ifChecked",function(){
            $("#chapter-select").hide();
        });

        //选择指定章节
        $("#assign-radio").on("ifChecked",function(){
            $("#chapter-select").show();
        });

    });
</script>
</body>
</html>